@page
@model myOnlineMart.Pages.InventoryManagement.IndexModel
@{
}
<div class="container mt-4">
    <h2>Products</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Image File Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@product.ImageFileName</td>
                    <td>@product.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href=""> edit </a>
                        <a class="btn btn-danger btn-sm" href=""> Delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>